.row
  .well.span4
    %fieldset
      .row
        .span2
          = f.label :origin, "Origin Airport (ie. JFK)"
          = f.text_field :origin, :class=>"span2", "autocomplete"=>"off","data-provide" => "typeahead", "data-items"=>"4","data-source"=>"#{ Airport.pluck('airport_code')}"
        .span2
          = f.label :destination, "Destination Airport (ie. LAX)"
          = f.text_field :origin, :class=>"span2", "autocomplete"=>"off","data-provide" => "typeahead", "data-items"=>"4","data-source"=>"#{ Airport.pluck('airport_code')}"
      
      .row
        .span2
          = f.label :flight_number, "Flight Number (ie. UA123)"
          = f.text_field :flight_number, :class => "flight_number span2"
          - if f.object.errors.get(:flight_number).length > 0 then
            = f.object.errors.get(:flight_number) 
        .span2
          = f.label :departure_date, "Departure Date"
          = f.text_field :departure_date, {:class => "datepicker span2", :size => 10}
          - if f.object.errors.get(:departure_date).length > 0  then
            = f.object.errors.get(:departure_date) 
          = f.hidden_field :_destroy
      .row.pull-right
        = link_to '<i class="icon-remove"></i> Remove'.html_safe, '#', class:"remove_flight_search align-right"
      
        

