= form_for @main_search do |f|
  - if @main_search.errors.any?
    .error_messages
      %h2
        - @main_search.errors.full_messages.each do |msg|
          = msg
  = f.fields_for :flight_searches do |builder|
    = render 'flight_search_fields', f: builder    
  =link_to_add_flight_searches "Add Flight", f, :flight_searches 
  %a.btn.btn-large.add_flight_search
  
  <br>
  = f.submit "Find my flights"
