=content_for (:scripts) do
  = javascript_include_tag "/main_searches/main_searches.js"
.row-fluid
  .span12
    %table.table.table-bordered
      %colgroup
        %col.span1
        %col.span3
        %col.span1
        %col.span1
        %col.span1
        %col.span1
      %thead
        %tr
          %th Premium
          %th Your flights:
          %th 1 to 2 hrs
          %th 2 to 3 hrs
          %th 3 to 4 hrs
          %th 4+ hrs
          %th Cancel/<br>Divert
      %tbody
        -@coverage.flight_coverages.each do |fc|
          %tr
            %td
              = number_to_currency(fc.premium)
            %td
              =render "shared/flight_leg_print", :l=>fc.flight_leg
            %td
              = number_to_currency(fc.c60_120, :precision=>0)
            %td
              = number_to_currency(fc.c120_180, :precision=>0)
            %td
              = number_to_currency(fc.c180_240, :precision=>0)
            %td
              = number_to_currency(fc.c240_or_more, :precision=>0)
            %td
              = number_to_currency(fc.cc, :precision=>0)
.row
  .span12
    %h4
      Your total:
      = number_to_currency(@coverage.total_premium)