=content_for (:scripts) do
  = javascript_include_tag "https://js.stripe.com/v1/", "order/order.js"
  = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY
=form_for @order, {:html => {:class => "form-horizontal"}}  do |f|
  .box_label
    Please review your order:
  %br
  = render :partial => 'order_details'
  .row
    .span12
      = link_to "Edit Order", edit_coverage_path(@coverage)
  %p
  %p
  %p
  = link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path
  = f.hidden_field :stripe_card_token
  .row
    .span6.well
      =f.fields_for(@user, :html => {:class => "well"}) do |u|    
        %h4
          Billing Info:
          <p>
        .control-group
          = u.label :first_name, "First Name:", :class=> "control-label"
          .controls
            = u.text_field :first_name
        .control-group
          = u.label :last_name, "Last Name:", :class=>"control-label"
          .controls
            = u.text_field :last_name
        .control-group
          = u.label :address_1, "Address Line 1:", :class=> "control-label"
          .controls
            = u.text_field :address_1
        .control-group
          = u.label :address_2, "Address Line 2:", :class=>"control-label"
          .controls
            = u.text_field :address_2
        .control-group
          = u.label :city, "City:", :class=>"control-label"
          .controls
            = u.text_field :city    
        .control-group
          = u.label :state, "State:", :class=>"control-label"
          .controls
            = u.select :state, FormData.state_abbr.values 
        .control-group
          = u.label :zip_code, "Zip Code:", :class=>"control-label"
          .controls
            = u.text_field :zip_code, :class=>"input-small"    
      / - if @order.stripe_card_token
      %h4 Payment Info:<p>
      - if flash[:payment_error]
        .row
          .span6
            .alert.alert-error
              = flash[:payment_error]
      .control-group
        = label_tag :card_number, "Credit Card Number:", :class=>"control-label"
        .controls
          = text_field_tag :card_number, nil, name: nil
      .control-group
        = label_tag :card_code, "Security Code (CVV):", :class=>"control-label"
        .controls
          = text_field_tag :card_code, nil, name: nil, :class=>"input-small"
      .control-group
        = label_tag :card_month, "Card Expiration:", :class=>"control-label"
        .controls        
          = select_month nil, {:use_month_numbers => :true}, {name: nil, id: "card_month", "class" => "input-small"}
          = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, 
                             {name: nil, id: "card_year", "class" => "input-small"}
      #stripe_error
        %noscript
          JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
      .form-actions
        =f.submit "Place Order", :class => "checkout btn btn-primary btn-large"
        <br><br>
        Your credit card will be charged.
      


  
